#wt-zone-right {
	display: none !important;
}
#wt-zone-main {
	margin-right: 0px !important;
}

.assessment-container{
	min-width: 700px;
	color: #444;
	
	.assessment-container__wrapper{
		.prev-assessment{
			//padding: 16px;
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
		    margin-bottom: 8px;
		    background-color: #fff;
		    margin-bottom: 32px;
			
			.prev-assessment__drop-title{
				background-color: #fff;
			}
		}
		
		.cur-assessment {
			//padding: 16px;
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
		    margin-bottom: 8px;
		    background-color: #fff;
		    margin-bottom: 32px;
		    
		    .cur-assessment__root-title{
	    		font-size: 16px;
	    		padding: 16px;
	    		font-weight: bold;
	    	}

		    .cur-assessment__type-container{
		    	margin-bottom: 16px;
		    	
		    	.cur-assessment__title{
		    		font-size: 14px;
		    		
		    		&--left {
		    			word-break: break-word;
		    		}
		    		&--right {
		    			padding-right: 40px;
		    			text-align: right;
		    			word-break: break-word;
		    		}
		    	}
		    }
		}
		
		.assessment-container__footer{
			.assessment-container__buttons {
				padding: 16px;
				text-align: center;
				background-color: #dbdbdb;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
				
				.assessment-container__button{
					min-width: 200px;
					margin-right: 8px;
				}
			}
		}
		
	}
	
	
	.tasks-container {
		.new-task__container{
			width: auto;
			min-width: 765px;
			
			.new-task{
				text-align: left;
				
				&__name {
					display: inline-block;
					padding-right: 8px;
					position: relative;
    				top: 28px;
				}
				&__unit {
					display: inline-block;
					width: 110px;
				}
				&__weight {
					display: inline-block;
					width: 80px;
					padding-left: 8px;
				}
				&__min {
					display: inline-block;
					width: 80px;
					padding-left: 8px;
				}
				&__targ {
					display: inline-block;
					width: 80px;
					padding-left: 8px;
				}
				&__max {
					display: inline-block;
					width: 80px;
					padding-left: 8px;
				}
				&__fact {
					display: inline-block;
					width: 80px;
					padding-left: 8px;
				}
				&__comment {
					display: inline-block;
					padding-left: 8px;
					position: relative;
    				top: 28px;
				}
			}
		}
		
		.tasks {
			width: 100%;
			border-collapse: collapse;
			margin-top: 12px;
			border-bottom: 1px solid #D3D3D3;
			
			.tasks__header-name{
				text-align: left;
				font-size: 11px;
				border-bottom: 1px solid #D3D3D3;
			}
			
			.task {
				
				&:nth-child(2n){
					background-color: #e1edfa;
				}
				&:nth-child(2n+1){
					background-color: #fff;
				}
				
				.task__name {
				    border-left: 1px solid #D3D3D3;
					border-right: 1px solid #D3D3D3;
					padding: 8px;
					word-break: break-word;
					text-align: left;
					font-size: 12px;
    				color: #667;
					
					&.task__name--name {
						width: 30%;
					}
					&.task__name--unit {
						
					}
					&.task__name--weight {
						
					}
					&.task__name--min {
						
					}
					&.task__name--targ {
						
					}
					&.task__name--max {
						
					}
					&.task__name--fact {
						
					}
					&.task__name--percent {
						
					}
					&.task__name--comment {
						width: 30%;
					}
				}
				.task__check-container{
					width: 40px;
					text-align: center;
    				border-top: 1px solid #D3D3D3;
    				border-left: 1px solid #d3d3d3;
    				
					.task__check {
						margin-bottom: 0px;
					}
				}
			}
		}
		.tasks-container__menu {
		    position: relative;
			top: 12px;
			
		    .tasks-container__edit{
		    	display: inline-block;
			    float: right;
		    	display: inline-block;
		    	
		    	.tasks-container__edit-button{
		    		margin-right: 12px;
		    	}
		    }
		    
		    .tasks-container__add-button{
		    	float: left;
		    }
		}
	}
	.calcs{
		margin-top: 24px;
		padding: 0;
	    font-size: 12px;
	    line-height: 24px;
	    overflow: hidden;
	    text-align: left;
		
		.calcs__label {
			color: rgba(192, 0, 20, 0.8);
			/*color: #c00014;
			color: rgba(0,0,0,.5); */
		    clear: both;
		    float: left;
		    width: 270px;
		    text-align: left;
		}
		.calcs__value {
			float: left;
		    color: #444;
		}
	}
}

.assessment {
	min-width: 780px;
	position: relative;
	padding: 15px;
	color: #2b2b2b;
}