.assessment {
	position: relative;
	padding: 15px;
	
	.half {
		.half__title {
			font-weight: 700;
		    color: #999;
		    font-size: 21px;
		}
		
		.category {
			padding: 8px;
			margin: 24px 0 48px 0;
			border: 2px solid #ccc;
			border-radius: 4px;
			
			.category__header{
				padding: 15px;
				background-color: #dbdbdb;
				font-size: 17px;
				
				.category__title{
					
				}
				
				.category__boss{
					float: right;
				}
			}
			.category__body{
				padding: 15px;
				
				.pas{
					
					.pa {
						margin-bottom: 48px;
					}
				}
				
				.half-year{
					
					
					.half-year__year {
						margin-bottom: 24px;
						
						.half-year__tests {
							margin-top: -40px;
						}
					}
					.half-year__display-months{
						color: #077fcc;
					    cursor: pointer;
					    float: right;
					    position: relative;
					    bottom: 50px;
					}
					.half-year__months{
						padding: 8px;
						background-color: rgb(250, 241, 234);
					}
				}
			}
		}
	}
	
	.tasks-container {
		.tasks {
			width: 100%;
			border-collapse: collapse;
			margin-top: 12px;
			
			.tasks__header-name{
				text-align: left;
				font-size: 14px;
			}
			
			.task {
				.task__name {
					border: 1px solid #a4a4a4;
					padding: 8px;
					border-radius: 4px;
					
					&.task__name--name {
						width: 30%;
					}
					&.task__name--unit {
						
					}
					&.task__name--weight {
						
					}
					&.task__name--min {
						
					}
					&.task__name--targ {
						
					}
					&.task__name--max {
						
					}
					&.task__name--fact {
						
					}
					&.task__name--percent {
						
					}
					&.task__name--comment {
						width: 30%;
					}
				}
				.task__delete-button{
					width: 20px;
					cursor: pointer;
					color: #a8a8a8;
					
					&:hover {
						color: #444;
					}
				}
			}
		}
		.tasks-container__menu {
		    display: inline-block;
		    float: right;
		    position: relative;
		    right: 23px;
		    top: 12px;
		}
	}
	.calcs{
		margin-top: 24px;
		padding: 0;
	    font-size: 15px;
	    line-height: 18px;
	    overflow: hidden;
		
		.calcs__label {
			color: rgba(192, 0, 20, 0.8);
			/*color: #c00014;
			color: rgba(0,0,0,.5); */
		    clear: both;
		    float: left;
		    width: 230px;
		    margin: 0 5px 10px 0;
		}
		.calcs__value {
			float: left;
		    margin: 0 0 10px;
		    color: #444;
		}
	}
}