.competence-block{
    .competence-table{
    	border-spacing: 1px;
        padding: 0;   
    	
    	.competence-table__th-name{
            font-size: 12px;   
            display: inline-block;   
			padding: 4px;
			background-color: #eeeeee;
			border-left: dotted 1px #cccccc;
			border-right: dotted 1px #cccccc;
			border-bottom: solid 1px #cccccc;
    	}
     
        .category-competence{
            width: 100%;
            vertical-align: top;
            padding: 0px;
            background-color: #ffffff;
            border: dotted 1px #cccccc;
            
            .category-competence__title{
                padding: 4px;
                background-position: 5px 5px;
                background-repeat: no-repeat;
                font-size: 12px;
                font-weight: bold;
                color: #667;
                text-align: left;
            }
            
            .competence{
                border-bottom: dotted 1px #cccccc;
                padding: 4px;
                text-align: left;
                
                &:last-child {
                    border-bottom: none;
                }
                
                .competence__field{
                    display: inline-block;
                    
                    padding: 0px;
                    font-size: 12px;
                    vertical-align: top;
                    color: #667;
                    text-decoration: none;
                }
            }
        }   
    }
}