.competence-block{
    .competence-table{
    	border-spacing: 1px;
        padding: 0;
        display: table;
        width: 100%;
    	
        .competence-table__header{
            display: table;
            width: 100%;
            
            .competence-table__th-name{
                font-size: 12px;   
                display: table-cell;   
                padding: 4px;
                background-color: #dbdbdb;
                border-left: dotted 1px #cccccc;
                border-right: dotted 1px #cccccc;
                border-bottom: solid 1px #cccccc;
            }
        }
        
        .competence-table__body{
            border: dotted 1px #cccccc;
        }

        .category-competence{
            width: 100%;
            vertical-align: top;
            padding: 0px;
            background-color: #ffffff;
            display: table;
            
            .category-competence__title{
                padding: 4px;
                background-position: 5px 5px;
                background-repeat: no-repeat;
                font-size: 12px;
                font-weight: bold;
                text-align: left;
                background-color: #eee;
                color: #cd2826;
                display: table-caption;
            }
            
            .competence{
                border-bottom: dotted 1px #cccccc;
                padding: 4px;
                text-align: left;
                display: table-row;
                
                &:last-child {
                    border-bottom: none;
                }
                
                .competence__field{
                    display: table-cell;
                    width: 30%;
                    
                    padding: 0px;
                    font-size: 12px;
                    vertical-align: top;
                    color: #667;
                    text-decoration: none;
                }
            }
        }   
    }
}