.half-year{
	margin-bottom: 32px;
	
	.half-year__header {
		padding: 15px;
	    background-color: #dbdbdb;
	    font-size: 12px;
	    background-image: linear-gradient(180deg, #f4f2f2, #dfdfdf);
	    //box-shadow: 0px 0px 8px -1px #b2b2b2;
	    text-align: left;
	    border: 1px solid #dbdbdb;
	    border-radius: 4px 4px 0 0;

		.half-year__title{
			color: #3a87ad;
		}
		.half-year__boss-fullname{
			color: #3a87ad;
			float: right;
		}
	}
	
	.half-year__no-months{
		display: block;
		text-align: center;
		
	}
	.half-year__display-months{
		color: #fff;
	    cursor: pointer;
	    padding: 8px;
	    text-align: center;
	    background-color: #3a87ad;
	}
	.half-year__months-container{
	    margin-top: 12px;
	    
		.half-year__months{
			/*padding: 8px;
		    background-color: #fcf8e3;
		    color: #9c8611;
		    border: 2px solid #e2dbb3;
		    border-radius: 4px;*/
		   	/*padding: 8px;
		    background-color: #cbe2fb;
		    color: #3a87ad;
		    border: 1px solid #3a87ad;
		    border-radius: 4px;*/
		    /*padding: 8px;
		    background-color: #f5f5f5;
		    color: #3a87ad;
		    border: 2px solid #ddd;
		    border-radius: 4px;	*/
		    	
		    color: #3a87ad;
		    
		    & > .pa:first-child:last-child {
		    	border-radius: 4px;
		    	border-top: 2px solid #ddd;
		    }
		    & > .pa:first-child {
		    	border-radius: 4px 4px 0 0 ;
		    	border-top: 2px solid #ddd;
		    }
		}
	}
	
}