.half-year{
	.half-year__no-months{
		display: block;
		text-align: center;
	}
	.half-year__display-months{
		color: #3a87ad;
	    cursor: pointer;
	    float: right;
	    position: relative;
	    padding: 16px 0px;
	}
	.half-year__months-container{
	    padding-top: 12px;
	    margin-top: 40px;
	    border-top: 1px solid #ccc;
	    
		.half-year__months{
			padding: 8px;
		    background-color: #fcf8e3;
		    color: #9c8611;
		    border: 2px solid #e2dbb3;
		    border-radius: 4px;
		}
	}
	
}