.pas > .pa {
	background-color: #fff;
}

.pa {
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-top: none;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    padding: 8px;
    
    &:first-child {
    	border-bottom: none;
        border-top: 2px solid #ddd;
    	border-radius: 0;
    }
    
    &:last-child {
         border-bottom: 2px solid #ddd;
    }
    
    &:first-child:last-child {
    	border: 2px solid #ddd;
        border-top: none;
        border-radius: 0 0 4px 4px;
    }
    
    &:last-child .pa__container {
    	border-bottom: none;
    }
    
    &:first-child:last-child .pa__container {
    	border-bottom: none;
    }

    .pa__container {
    	border-bottom: 2px solid #aaa;
    	padding: 8px;
    }
}