@media print {
	/*.app-container {
	    position: fixed;
	    top: 0;
	    left: 0;	
	    width: 100%;
	    height: 100%;
	}*/
		
	#wt-zone-left, #wt-zone-right, #wt-zone-header {
		display: none;
	}

	.tasks thead tr th:first-child {
		display: none;
	}
	
	.task__check-container{
		display: none;
	}

	.tasks-container__add-button{
		display: none;
	}
	
	.assessment-container__footer{
		display: none;
	}
}