.quarter {
	margin-bottom: 32px;
	
	.quarter__header{
		padding: 15px;
	    background-color: #dbdbdb;
	    font-size: 12px;
	    background-image: linear-gradient(180deg, #f4f2f2, #dfdfdf);
	    box-shadow: 1px 1px 1px 0 #b2b2b2;
	    text-align: left;

		.quarter__title{
			color: #3a87ad;
		}
		.quarter__boss-fullname{
			color: #3a87ad;
			float: right;
		}
	}
}